
<%= form_for@survey_form, html: { :multipart => true } do |f| %>
  <% if @survey_form.errors.any? %>
    <div id="error_explanation">
    <div class="alert alert-danger alert-dismissable">
          <a href="#" class="close" data-dismiss = "alert" aria-label="close">x</a> 
      <h2><%= pluralize(@survey_form.errors.count, "Upss") %> Data Belum Lengkap:</h2>
      <ul>
      <% @survey_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    </div>
  <% end %>

  <style>
    .jumbotron {
        border: 1px solid black;
        background-color: white;
    }
    body {
      background-color: #ccffff;
    }
     a {
    color: #fff;
    text-decoration: none;
}
  </style>

<div class="container">
<br /><br />
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Form</a></li>
      <li><a href="#tab2" data-toggle="tab">Dokumentasi</a></li>
    </ul>
      <div class="tab-content">
          <div class="tab-pane active" id="tab1">
          <center><h1 class="display-4">Form Survey</h1></center>
          <hr >

          <div class="form-group">
            <%= f.label :side_id, "Site ID" %><br>
            <%= f.text_field :side_id, class: "form-control" %>
          </div>


          <div class="form-group">
            <%= f.label :nama_site_id %><br>
            <%= f.text_field :nama_site_id, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :provinsi %><br>
            <select class="selectpicker form-control" data-show-subtext="true" data-live-search="true" name="survey_form[provinsi]" id="survey_form_provinsi" onchange="populate(this.id,'survey_form_kabupaten')">
              <option disabled selected value=""></option>
              <option value="Gorontalo">Gorontalo</option>
              <option value="Kalimantan Barat">Kalimantan Barat</option>
              <option value="Kalimantan Selatan">Kalimantan Selatan</option>
              <option value="Kalimantan Timur">Kalimantan Timur</option>
              <option value="Kalimantan Utara">Kalimantan Utara</option>
              <option value="Nusa Tenggara Timur">Nusa Tenggara Timur</option>
              <option value="Nusa Tenggara Barat">Nusa Tenggara Barat</option>
              <option value="Sulawesi Tengah">Sulawesi Tengah</option>
              <option value="Sulawesi Tenggara">Sulawesi Tenggara</option>

            </select>
          </div>

          <div class="form-group">
            <%= f.label :kabupaten %><br>
            <select class="selectpicker form-control" data-show-subtext="true" data-live-search="true" name="survey_form[kabupaten]" id="survey_form_kabupaten">
            </select>
          </div>
          
          <div class="form-group">
            <%= f.label :kecamatan %><br>
            <%= f.text_field :kecamatan, class: "form-control", placeholder: "Kecamatan" %>
          </div>

          <div class="form-group">
            <%= f.label :kelurahan %><br>
            <%= f.text_field :kelurahan, class: "form-control", placeholder: "kelurahan" %>
          </div>

          <div class="form-group">
            <%= f.label :alamat %><br>
            <%= f.text_field :alamat, class: "form-control", placeholder: "Alamat" %>
          </div>

          <div class="form-group">
            <%= f.label :nama_lokasi, "Nama Lokasi" %><br>
            <%= f.text_field :nama_lokasi, class: "form-control", placeholder: "Alamat" %>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-6">
                <%= f.label :surveyor %><br>
                <%= f.text_field :surveyor, class: "form-control" %>
              </div>
              <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="form-group">
                  <%= f.label :project %><br>
                  <%= f.text_field :project, class: "form-control" %>
                </div>
              </div>
            </div>
          </div>

          <hr >
          <center><h2>Koordinat</h2></center>
          <hr>

          <div class="form-group">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-6">
                <%= f.label :lattide %><br>
                <%= f.text_field :lattide, class: "form-control", placeholder: "-6.238270" %>
              </div>
              <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="form-group">
                  <%= f.label :longitude %><br>
                  <%= f.text_field :longitude, class: "form-control", placeholder: "106.975573" %>
                </div>
              </div>
            </div>
          </div>

          <hr >
          <center><h2>Ketersediaan Listrik</h2></center>
          <hr>
          
          <div class="form-group">
            <%= f.label :sumber_listrik %><br />
            <label class="radio-inline">
              <input type="radio" name="optradio" value="ada" class="detail">Ada
            </label>
            <label class="radio-inline">
              <input type="radio" name="optradio" value="tidak" class="detail">Tidak 
            </label>
            <br /><br />
            <div id="form-input">
              <%= label_tag 'sumber_listrik_PLN', 'PLN' %>
              <%= check_box_tag 'survey_form[sumber_listrik][]', 'PLN', checked('PLN'), id: 'sumber_listrik_PLN' %> &nbsp;&nbsp;

              <%= label_tag 'sumber_listrik_SolarSel', 'SolarSel' %>
              <%= check_box_tag 'survey_form[sumber_listrik][]', 'SolarSel', checked('SolarSel'), id: 'sumber_listrik_SolarSel' %>&nbsp;&nbsp;

              <%= label_tag 'sumber_listrik_Genset', 'Genset' %>
              <%= check_box_tag 'survey_form[sumber_listrik][]', 'Genset', checked('Genset'), id: 'sumber_listrik_Genset' %>
              <br />
              <div class="form-group">
                <%= f.label :lainnya_listrik, "Sumber Listrik Lainnya" %><br />
                <%= f.text_field :lainnya_listrik, class: "form-control", placeholder: "ex: Batu Bara" %>
              </div> 
             
              <div class="form-group">
                <%= f.label :jam_operasional %><br>
                <%= f.text_field :jam_operasional, class: "form-control", placeholder: "24 JAM" %>

              <div class="form-group">
                <%= f.label :id_pelanggan_listrik %><br>
                <%= f.text_field :id_pelanggan_listrik, class: "form-control", placeholder: "ex: 232111074358" %>
              </div>
              <div class="form-group">
                <%= f.label :kapasitas, "Kapasitas (Watt)" %><br>
                <%= f.text_field :kapasitas, class: "form-control", placeholder: "ex: 900" %>
              </div>
            </div>
          </div>
          
          <hr >
          <center><h2>Ketersediaan Akses Internet Eksisting</h2></center>
          <hr>

          <div class="form-group">
            <%= f.label :jenis_koneksi %><br>
            <label class="radio-inline">
              <input type="radio" name="internet" value="ada" class="detailinternet">Ada
            </label>
            <label class="radio-inline">
              <input type="radio" name="internet" value="tidak" class="detailinternet">Tidak
            </label>
            <br /><br />

            <div id="form-internet">
             <%= label_tag 'jenis_koneksi_VSAT', 'VSAT' %>
              <%= check_box_tag 'survey_form[jenis_koneksi][]', 'VSAT', checked1('VSAT'), id: 'jenis_koneksi_VSAT' %> &nbsp;&nbsp;

              <%= label_tag 'jenis_koneksi_RadioLink', 'RadioLink' %>
              <%= check_box_tag 'survey_form[jenis_koneksi][]', 'RadioLink', checked1('RadioLink'), id: 'jenis_koneksi_RadioLink' %>&nbsp;&nbsp;

              <%= label_tag 'jenis_koneksi_FiberOptik', 'FiberOptik' %>
              <%= check_box_tag 'survey_form[jenis_koneksi][]', 'FiberOptik', checked1('FiberOptik'), id: 'jenis_koneksi_FiberOptik' %>
              <br /><br />

              <div class="form-group">
                <%= f.label :lainnya_internet, "Koneksi Internet Lainnya" %><br>
                <%= f.text_field :lainnya_internet, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :kualitas_akses_internet %><br>
                <select class="selectpicker form-control" data-show-subtext="true" data-live-search="true" name="survey_form[kualitas_akses_internet]" id="survey_form_kualitas_akses_internet">
                  <option disabled selected>Select One</option>
                  <option>Sangat Lambat</option>
                  <option>Lambat</option>
                  <option>Rata-rata</option>
                  <option>Cepat</option>
                  <option>Sangat Cepat</option>
                </select>
              </div>
              <div class="form-group">
                <%= f.label :bandwidt_tersedia, "Bandwidth Tersedia (Kbps)" %><br>
                <select class="selectpicker form-control" data-show-subtext="true" data-live-search="true" name="survey_form[bandwidt_tersedia]" id="survey_form_bandwidt_tersedia">
                  <option disabled selected>Select One</option>
                  <option>0 > 250 Kbps</option>
                  <option>251 > 500 Kbps</option>
                  <option>501 > 750 Kbps</option>
                  <option>751 > 1000 Kbps</option>
                  <option>Diatas 1000 Kbps</option>
                </select>
              </div>

            </div>
          </div>
          
           <hr >
          <center><h2>Ketersediaan Akses Jaringan Selular (GSM)</h2></center>
          <hr>

          <div class="form-group">
            <%= f.label :jenis_koneksi_1, "Jenis Koneksi" %><br>
            <label class="radio-inline">
              <input type="radio" name="jaringan" value="ada" class="detailjaringan"> Ada
            </label>
            <label class="radio-inline">
              <input type="radio" name="jaringan" value="tidak" class="detailjaringan"> Tidak
            </label>
            <br /><br />

            <div id="form-jaringan">
              <%= label_tag 'jenis_koneksi_1_4G', '4G' %>
              <%= check_box_tag 'survey_form[jenis_koneksi_1][]', '4G', checked2('4G'), id: 'jenis_koneksi_1_4G' %> &nbsp;&nbsp;

              <%= label_tag 'jenis_koneksi_1_3G', '3G' %>
              <%= check_box_tag 'survey_form[jenis_koneksi_1][]', '3G', checked2('3G'), id: 'jenis_koneksi_1_4G' %>&nbsp;&nbsp;

              <%= label_tag 'jenis_koneksi_1_2G', '2G' %>
              <%= check_box_tag 'survey_form[jenis_koneksi_1][]', '2G', checked2('2G'), id: 'jenis_koneksi_1_2G' %>
              <br /><br />

              <div class="form-group">
                <%= f.label :nama_operator_seluler %><br>
                <select class="selectpicker form-control" data-show-subtext="true" data-live-search="true" name="survey_form[nama_operator_seluler]" id="survey_form_nama_operator_seluler">
                  <option disabled selected>Select One</option>
                  <option>3 Tri</option>
                  <option>Axis</option>
                  <option>Bolt</option>
                  <option>Indosat</option>
                  <option>Smartfren</option>
                  <option>Telkomsel</option>
                  <option>XL</option>
                </select>
              </div>
              <div class="form-group">
                <%= f.label :kualitas_layanan %><br>
                <select class="selectpicker form-control" data-show-subtext="true" data-live-search="true" name="survey_form[kualitas_layanan]" id="survey_form_kualitas_layanan">
                  <option disabled selected>Select One</option>
                  <option>1 Bar</option>
                  <option>2 Bar</option>
                  <option>3 Bar</option>
                  <option>4 Bar</option>
                  <option>5 Bar</option>
                </select>
              </div>
            </div>
          </div>

           <hr >
          <center><h2>Ketersediaan Perangkat</h2></center>
          <hr>

          <div class="form-group">
            <%= f.label :jumlah_komputer, "Jumlah Komputer/PC" %><br>
            <%= f.text_field :jumlah_komputer, class: "form-control", type:"number", min: "0" %>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-6">
                <%= f.label :perangkat_pendukung_lainnya, "Perangkat Pendukung" %><br>
                <select class="selectpicker form-control" data-show-subtext="true" data-live-search="true" name="survey_form[perangkat_pendukung_lainnya]" id="survey_form_perangkat_pendukung_lainnya">
                  <option disabled selected>Select One</option>
                  <option>Tidak Ada</option>
                  <option>UPS</option>
                  <option>Modem</option>
                  <option>Stabilizer</option>
                  <option>Webcam</option>
                </select>
              </div>

              <div class="col-lg-6 col-md-6 col-xs-6">
                <%= f.label :perangkat_lainnya, "Lainnya" %><br>
                <%= f.text_field :perangkat_lainnya, class: "form-control" %>
              </div>
            </div>
          </div>

          <hr >
          <center><h2>Penanggung Jawab Lokasi</h2></center>
          <hr>

          <div class="form-group">
            <%= f.label :nama_penanggung_jawab_lokasi_1, "Penanggung Jawab 1" %><br>
            <%= f.text_field :nama_penanggung_jawab_lokasi_1, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :kontak_penanggung_jawab_lokasi_1, "Kontak Penanggung Jawab 1" %><br>
            <%= f.text_field :kontak_penanggung_jawab_lokasi_1, class: "form-control", type: 'number', min: "0" %>
          </div>
          <div class="form-group">
            <%= f.label :nama_penanggung_jawab_lokasi_2, "Penanggung Jawab 2" %><br>
            <%= f.text_field :nama_penanggung_jawab_lokasi_2, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :kontak_penanggung_jawab_lokasi_2, "Kontak Penanggung Jawab 2" %><br>
            <%= f.text_field :kontak_penanggung_jawab_lokasi_2, class: "form-control", type: 'number', min: "0" %>
          </div>

          <hr >
          <center><h2>Transportasi Menuju Lokasi</h2></center>
          <hr>

          <div class="form-group">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-6">
                <%= label_tag :transportasi_menuju_lokasi, 'Transportasi Menuju Lokasi' %> <br />

                <%= label_tag 'transportasi_menuju_lokasi_Darat', 'Darat ' %>&nbsp;&nbsp;&nbsp;&nbsp;
                <%= check_box_tag 'survey_form[transportasi_menuju_lokasi][]', 'Darat', checked3('Darat'), id: 'transportasi_menuju_lokasi_Darat' %><br />

                <%= label_tag 'transportasi_menuju_lokasi_Udara', 'Udara ' %>&nbsp;&nbsp;&nbsp;
                <%= check_box_tag 'survey_form[transportasi_menuju_lokasi][]', 'Udara', checked3('Udara'), id: 'transportasi_menuju_lokasi_udara' %><br />

                <%= label_tag 'transportasi_menuju_lokasi_Laut', 'Laut ' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= check_box_tag 'survey_form[transportasi_menuju_lokasi][]', 'Laut', checked3('Laut'), id: 'transportasi_menuju_lokasi_laut' %><br />

                <%= label_tag 'transportasi_menuju_lokasi_Sungai', 'Sungai' %>&nbsp;&nbsp;
                <%= check_box_tag 'survey_form[transportasi_menuju_lokasi][]', 'Sungai', checked3('Sungai'), id: 'transportasi_menuju_lokasi_sungai' %><br />

                <%= label_tag 'transportasi_menuju_lokasi_Waduk', 'Waduk ' %>&nbsp;
                <%= check_box_tag 'survey_form[transportasi_menuju_lokasi][]', 'Waduk', checked3('Waduk'), id: 'transportasi_menuju_lokasi_waduk' %><br />

                <%= label_tag 'transportasi_menuju_lokasi_Danau', 'Danau ' %>&nbsp;&nbsp;
                <%= check_box_tag 'survey_form[transportasi_menuju_lokasi][]', 'Danau', checked3('Danau'), id: 'transportasi_menuju_lokasi_danau' %><br >
              </div>
              <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="form-group">
                  <%= f.label :keterangan_menuju_lokasi %><br>
                  <%= f.text_area :keterangan_menuju_lokasi, class: "form-control",rows: 4 %>
                </div>
              </div>
            </div>
          </div>  
          </div>
          <div class="form-group">
            <%= f.label :gambaran_menuju_lokasi %><br>
            <%= f.text_area :gambaran_menuju_lokasi, class: "form-control", rows: 5 %>
          </div>
                <a class="btn btn-primary btnNext" >Selanjutnya</a>
          </div>

          <div class="tab-pane" id="tab2">
          <center><h2>Dokumentasi</h2></center>
          <hr>
          <div class="form-group">
          <div class="row">
            <div class="col-md-4 .col-sm-4 sideleft">
              <%= f.label :"photo_sketsa", "Photo: Sketsa/Layout (maksimal 2 MB)" %>
              <%= f.file_field :photo_sketsa, :required => true %> 
              <span style="color: red;font-weight: bold" id="msg"></span> 
              <div id="target"></div>
            </div>
            <div class="col-md-4 .col-sm-4 sideleft">
              <%= f.label :"image_gedung", "Photo: Site/Gedung" %>
              <%= f.file_field :image_gedung, :required => true %>
              <span style="color: red;font-weight: bold" id="msg2"></span>
              <div id="target2"></div>          
            </div>
            <div class="col-md-4 .col-sm-4 sideleft">
             <%= f.label :"image_rencana_tempat_perangkat", "Photo: Rencana Tempat Perangkat (maksimal 2 MB)" %>
              <%= f.file_field :image_rencana_tempat_perangkat, :required => true %>
              <span style="color: red;font-weight: bold" id="msg3"></span>
              <div id="target3"></div>          
            </div>
          </div>
          </div>  
            <br><br>
          <div class="row">  
            <div class="col-md-4 .col-sm-4 sideleft">
              <%= f.label :"image_genset", "Photo: KWh Mwte/Genset/Solar Cell (maksimal 2 MB)" %>
              <%= f.file_field :image_genset, :required => true %>
              <span style="color: red;font-weight: bold" id="msg4"></span>
              <div id="target4"></div>          
            </div>
          </div>

           <hr>
            <center><h2>Foto Panoramic</h2></center>
            <hr>
            <div class="row">
            <div class="col-md-4 .col-sm-4 sideleft">
              <%= f.label :"image_lingkungan_depan", "Photo Lingkungan Depan (maksimal 2 MB)" %>
              <%= f.file_field :image_lingkungan_depan, :required => true %>
              <span style="color: red;font-weight: bold" id="msg5"></span>  
              <div id="target5"></div>
            </div>
            <div class="col-md-4 .col-sm-4 sideleft">
              <%= f.label :"image_lingkungan_belakang", "Photo Lingkungan Belakang (maksimal 2 MB)" %>
              <%= f.file_field :image_lingkungan_belakang, :required => true %>
              <span style="color: red;font-weight: bold" id="msg6"></span>
              <div id="target6"></div>          
            </div>
            <div class="col-md-4 .col-sm-4 sideleft">
             <%= f.label :"image_lingkungan_kiri", "Photo Lingkungan Sebelah Kiri (maksimal 2 MB)" %>
              <%= f.file_field :image_lingkungan_kiri, :required => true %>
              <span style="color: red;font-weight: bold" id="msg7"></span>
              <div id="target7"></div>          
            </div>
            </div>  
            <br><br>
          <div class="row">
            <div class="col-md-4 .col-sm-4 sideleft">
              <%= f.label :"image_lingkungan_kanan", "Photo Lingkungan Sebelah Kanan (maksimal 2 MB)" %>
              <%= f.file_field :image_lingkungan_kanan, :required => true %>
              <span style="color: red;font-weight: bold" id="msg8"></span>
              <div id="target8"></div>          
            </div>
            <div class="col-md-4 .col-sm-4 sideleft">
              <%= f.label :"image_akses_ke_site", "Photo Akses ke Site (maksimal 2 MB)" %>
              <%= f.file_field :image_akses_ke_site, :required => true %>
              <span style="color: red;font-weight: bold" id="msg9"></span>  
              <div id="target9"></div>
            </div>
            <div class="col-md-4 .col-sm-4 sideleft">
              <%= f.label :"image_akses_ke_site_1", "Photo Akses ke Site (maksimal 2 MB)" %>
              <%= f.file_field :image_akses_ke_site_1, :required => true%>
              <span style="color: red;font-weight: bold" id="msg10"></span>
              <div id="target10"></div>          
            </div>
            </div>  
            <br><br>
          <div class="row">
            <div class="col-md-4 .col-sm-4 sideleft">
             <%= f.label :"image_geotagging", "Perangkat Geotagging (maksimal 2 MB)" %>
              <%= f.file_field :image_geotagging, :required => true %>
              <span style="color: red;font-weight: bold" id="msg11"></span>
              <div id="target11"></div>          
            </div>
            <div class="col-md-4 .col-sm-4 sideleft">
              <%= f.label :"image_surveyor", "Photo Surveyor di Lokasi (maksimal 2 MB)" %>
              <%= f.file_field :image_surveyor, :required => true %>
              <span style="color: red;font-weight: bold" id="msg12"></span>
              <div id="target12"></div>          
            </div>
          </div>

          <hr >
            <center><h2>Photo Tambahan</h2></center>
          <hr>

            <div class="row">
              <div class="col-md-4 .col-sm-4 sideleft">
                <%= f.label :"image_tambahan_photo_1", "Tambahan Photo (maksimal 2 MB)" %>
                <%= f.file_field :image_tambahan_photo_1 %>
                <span style="color: red;font-weight: bold" id="msg13"></span>  
                <div id="target13"></div>
              </div>
            </div>

            <br><br>

            <div class="form-group">
              <%= f.label :catatan_tambahan,"Catatan Tambahan(Wajib Diisi)" %>
              <%= f.text_area :catatan_tambahan, class: "form-control", rows: 5,:required => true %>
            </div>
            
            <center>
              <div class="row">
                <div class="col-xs-6 center">
                  <a class="btn btn-danger btnPrevious" >Kembali</a>
                </div>
                <div class="col-xs-6">
                  <div class="actions">
                    <%= f.submit "Submit", class: "btn btn-success" %>
                  </div>
                </div>
              </div>
            </center>   
    </div>           
<% end %>
    
  </div>
</div>
</div>
</div>

<script type="text/javascript">
$('select').select2({width: "100%"});
</script>

<script type="text/javascript">
   $('.btnNext').click(function(){
  $('.nav-tabs > .active').next('li').find('a').trigger('click');
});

  $('.btnPrevious').click(function(){
  $('.nav-tabs > .active').prev('li').find('a').trigger('click');
});
</script>

<!-- JAVASCRIPT KETERSEDIAAN LISTRIK -->
<script>
$(document).ready(function(){
$("#form-input").css("display","none"); //Menghilangkan form-input ketika pertama kali dijalankan
$(".detail").click(function(){ //Memberikan even ketika class detail di klik (class detail ialah class radio button)
if ($("input[name='optradio']:checked").val() == "ada" ) { //Jika radio button "berbeda" dipilih maka tampilkan form-inputan
$("#form-input").slideDown("fast"); //Efek Slide Down (Menampilkan Form Input)
} else {
$("#form-input").slideUp("fast"); //Efek Slide Up (Menghilangkan Form Input)
}
});
});
</script>

<!-- JAVASCRIPT KETERSEDIAAN AKSES INTERNET -->
<script>
$(document).ready(function(){
$("#form-internet").css("display","none"); //Menghilangkan form-input ketika pertama kali dijalankan
$(".detailinternet").click(function(){ //Memberikan even ketika class detail di klik (class detail ialah class radio button)
if ($("input[name='internet']:checked").val() == "ada" ) { //Jika radio button "berbeda" dipilih maka tampilkan form-inputan
$("#form-internet").slideDown("fast"); //Efek Slide Down (Menampilkan Form Input)
} else {
$("#form-internet").slideUp("fast"); //Efek Slide Up (Menghilangkan Form Input)
}
});
});
</script>

<!-- JAVASCRIPT KETERSEDIAAN JARINGAN SELULAR -->
<script>
$(document).ready(function(){
$("#form-jaringan").css("display","none"); //Menghilangkan form-input ketika pertama kali dijalankan
$(".detailjaringan").click(function(){ //Memberikan even ketika class detail di klik (class detail ialah class radio button)
if ($("input[name='jaringan']:checked").val() == "ada" ) { //Jika radio button "berbeda" dipilih maka tampilkan form-inputan
$("#form-jaringan").slideDown("fast"); //Efek Slide Down (Menampilkan Form Input)
} else {
$("#form-jaringan").slideUp("fast"); //Efek Slide Up (Menghilangkan Form Input)
}
});
});
</script>

<!-- JAVASCRIPT SHOW PHOTO -->
<script type="text/javascript">
  $(function() {
  $('#survey_form_photo_sketsa').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.width = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>


<script type="text/javascript">
  $(function() {
  $('#survey_form_image_gedung').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.width = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target2').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>

<script type="text/javascript">
  $(function() {
  $('#survey_form_image_rencana_tempat_perangkat').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.width = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target3').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>


<script type="text/javascript">
  $(function() {
  $('#survey_form_image_genset').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.width = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target4').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>

<script type="text/javascript">
  $(function() {
  $('#survey_form_image_lingkungan_depan').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.width = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target5').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>


<script type="text/javascript">
  $(function() {
  $('#survey_form_image_lingkungan_belakang').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.width = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target6').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>

<script type="text/javascript">
  $(function() {
  $('#survey_form_image_lingkungan_kiri').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.width = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target7').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>


<script type="text/javascript">
  $(function() {
  $('#survey_form_image_lingkungan_kanan').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.width = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target8').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>

<script type="text/javascript">
  $(function() {
  $('#survey_form_image_akses_ke_site').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.width = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target9').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>


<script type="text/javascript">
  $(function() {
  $('#survey_form_image_akses_ke_site_1').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.width = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target10').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>

<script type="text/javascript">
  $(function() {
  $('#survey_form_image_geotagging').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.width = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target11').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>


<script type="text/javascript">
  $(function() {
  $('#survey_form_image_surveyor').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.width = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target12').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>

<script type="text/javascript">
  $(function() {
  $('#survey_form_image_tambahan_photo_1').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.width = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target13').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>


<script type="text/javascript">
  $(function() {
  $('#survey_form_image_tambahan_photo_2').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.width = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target14').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>

<script type="text/javascript">
  $(function() {
  $('#survey_form_image_tambahan_photo_3').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.width = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target15').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>

<script>
var uploadField = document.getElementById("survey_form_photo_sketsa");

uploadField.onchange = function() {
    if(this.files[0].size > 2097152){
       document.getElementById("msg").innerHTML = "Ukuran Photo Maksimal 2 MB !";
       this.value = "";

    } else {
      document.getElementById("msg").innerHTML = "";
    };
};
</script>

<script>
var uploadField = document.getElementById("survey_form_image_gedung");

uploadField.onchange = function() {
    if(this.files[0].size > 2097152){
       document.getElementById("msg2").innerHTML = "Ukuran Photo Maksimal 2 MB !";
       this.value = "";

    } else {
      document.getElementById("msg2").innerHTML = "";
    };
};
</script>

<script>
var uploadField = document.getElementById("survey_form_image_rencana_tempat_perangkat");

uploadField.onchange = function() {
    if(this.files[0].size > 2097152){
       document.getElementById("msg3").innerHTML = "Ukuran Photo Maksimal 2 MB !";
       this.value = "";

    } else {
      document.getElementById("msg3").innerHTML = "";
    };
};
</script>

<script>
var uploadField = document.getElementById("survey_form_image_genset");

uploadField.onchange = function() {
    if(this.files[0].size > 2097152){
       document.getElementById("msg4").innerHTML = "Ukuran Photo Maksimal 2 MB !";
       this.value = "";
    } else {
      document.getElementById("msg4").innerHTML = "";
    };
};
</script>

<script>
var uploadField = document.getElementById("survey_form_image_lingkungan_depan");

uploadField.onchange = function() {
    if(this.files[0].size > 2097152){
       document.getElementById("msg5").innerHTML = "Ukuran Photo Maksimal 2 MB !";
       this.value = "";

    } else {
      document.getElementById("msg5").innerHTML = "";
    };
};
</script>

<script>
var uploadField = document.getElementById("survey_form_image_lingkungan_belakang");

uploadField.onchange = function() {
    if(this.files[0].size > 2097152){
       document.getElementById("msg6").innerHTML = "Ukuran Photo Maksimal 2 MB !";
       this.value = "";

    } else {
      document.getElementById("msg6").innerHTML = "";
    };
};
</script>

<script>
var uploadField = document.getElementById("survey_form_image_lingkungan_kiri");

uploadField.onchange = function() {
    if(this.files[0].size > 2097152){
       document.getElementById("msg7").innerHTML = "Ukuran Photo Maksimal 2 MB !";
       this.value = "";

    } else {
      document.getElementById("msg7").innerHTML = "";
    };
};
</script>

<script>
var uploadField = document.getElementById("survey_form_image_lingkungan_kanan");

uploadField.onchange = function() {
    if(this.files[0].size > 2097152){
       document.getElementById("msg8").innerHTML = "Ukuran Photo Maksimal 2 MB !";
       this.value = "";

    } else {
      document.getElementById("msg8").innerHTML = "";
    };
};
</script>

<script>
var uploadField = document.getElementById("survey_form_image_akses_ke_site");

uploadField.onchange = function() {
    if(this.files[0].size > 2097152){
       document.getElementById("msg9").innerHTML = "Ukuran Photo Maksimal 2 MB !";
       this.value = "";

    } else {
      document.getElementById("msg9").innerHTML = "";
    };
};
</script>

<script>
var uploadField = document.getElementById("survey_form_image_akses_ke_site_1");

uploadField.onchange = function() {
    if(this.files[0].size > 2097152){
       document.getElementById("msg10").innerHTML = "Ukuran Photo Maksimal 2 MB !";
       this.value = "";

    } else {
      document.getElementById("msg10").innerHTML = "";
    };
};
</script>

<script>
var uploadField = document.getElementById("survey_form_image_geotagging");

uploadField.onchange = function() {
    if(this.files[0].size > 2097152){
       document.getElementById("msg11").innerHTML = "Ukuran Photo Maksimal 2 MB !";
       this.value = "";

    } else {
      document.getElementById("msg11").innerHTML = "";
    };
};
</script>

<script>
var uploadField = document.getElementById("survey_form_image_surveyor");

uploadField.onchange = function() {
    if(this.files[0].size > 2097152){
       document.getElementById("msg12").innerHTML = "Ukuran Photo Maksimal 2 MB !";
       this.value = "";

    } else {
      document.getElementById("msg12").innerHTML = "";
    };
};
</script>

<script>
var uploadField = document.getElementById("survey_form_image_tambahan_photo_1");

uploadField.onchange = function() {
    if(this.files[0].size > 2097152){
       document.getElementById("msg13").innerHTML = "Ukuran Photo Maksimal 2 MB !";
       this.value = "";

    } else {
      document.getElementById("msg13").innerHTML = "";
    };
};
</script>

<script>
function populate(survey_form_provinsi,survey_form_kabupaten){
  var survey_form_provinsi = document.getElementById(survey_form_provinsi);
  var survey_form_kabupaten = document.getElementById(survey_form_kabupaten);
  survey_form_kabupaten.innerHTML = "";
  if(survey_form_provinsi.value == "Kalimantan Barat"){
    var optionArray = ["|","Bengkayang|Bengkayang","Kapuas Hulu|Kapuas Hulu","Kayong Utara|Kayong Utara","Ketapang|Ketapang","Landak|Landak","Melawi|Melawi","Sambas|Sambas","Sanggau|Sanggau"];
  } else if(survey_form_provinsi.value == "Kalimantan Selatan"){
    var optionArray = ["|","Hulu Sungai Utara|Hulu Sungai Utara"];
  } else if(survey_form_provinsi.value == "Kalimantan Timur"){
    var optionArray = ["|","Mahakam Ulu|Mahakam Ulu"];
  }
    else if(survey_form_provinsi.value == "Kalimantan Utara"){
    var optionArray = ["|","Malinau|Malinau"];
  }
  else if(survey_form_provinsi.value == "Sulawesi Tengah"){
    var optionArray = ["|","Banggai Kepulauan|Banggai Kepulauan","Banggai Laut|Banggai Laut","Donggala|Donggala","Morowali Utara|Morowali Utara","Sigi|Sigi","Tojo Una-unda|Tojo Una-unda","Tolitoli|Tolitoli"];
  }
  else if(survey_form_provinsi.value == "Sulawesi Tenggara"){
    var optionArray = ["|","Konawe|Konawe","Konawe Kepulauan|Konawe Kepulauan"];
  }
  else if(survey_form_provinsi.value == "Gorontalo"){
    var optionArray = ["|","Gorontalo Utara|Gorontalo Utara","Pohuwato|Pohuwato"];
  }
  else if(survey_form_provinsi.value == "Nusa Tenggara Barat"){
    var optionArray = ["|","Bima|Bima","Sumbawa|Sumbawa","Sumbawa Barat|Sumbawa Barat"];
  }
  else if(survey_form_provinsi.value == "Nusa Tenggara Timur"){
    var optionArray = ["|","Alor|Alor","Belu|Belu","Ende|Ende","Lembata|Lembata","Malaka|Malaka","Manggarai Barat|Manggarai Barat","Nagekeo|Nagekeo","Rote Ndao|Rote Ndao","Sabu Raijua|Sabu Raijua","Sumba Tengah|Sumba Tengah","Sumba Timur|Sumba Timur","Timor Tengah Utara|Timor Tengah Utara"];
  }
  for(var option in optionArray){
    var pair = optionArray[option].split("|");
    var newOption = document.createElement("option");
    newOption.value = pair[0];
    newOption.innerHTML = pair[1];
    survey_form_kabupaten.options.add(newOption);
  }
}
</script>